/*#region HEADER */
.header {
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: var(--primery-box-shadow);
}

@media screen and (min-width: 320px) {
  .header {
    margin-bottom: 6px;
  }
}

@media screen and (min-width: 420px) {
  .header {
    margin-bottom: 7px;
  }
}

@media screen and (min-width: 800px) {
  .header {
    border-radius: 10px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .header {
    border-radius: 0.625vw;
    margin-bottom: 0.625vw;
  }
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-background-color);
  background-image: linear-gradient(
    350deg,
    var(--primery-background-color),
    var(--primery-background-color)
  );
  padding: 10px 16px;
  border-radius: 8px 8px 0 0;
}

@media screen and (min-width: 420px) {
  .panel {
    padding: 5px 16px;
  }
}

@media screen and (min-width: 800px) {
  .panel {
    padding: 10px 16px;
    border-radius: 10px 10px 0 0;
  }
}

@media screen and (min-width: 1600px) {
  .panel {
    padding: 0.625vw 1vw;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-image: linear-gradient(
    350deg,
    var(--secondary-background-color),
    var(--secondary-background-color)
  );
  width: 100%;
  padding: 10px 16px;
  border-radius: 0 0 8px 8px;
}

@media screen and (min-width: 420px) {
  .nav {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 5px 16px;
  }
}

@media screen and (min-width: 800px) {
  .nav {
    padding: 8px 16px;
    border-radius: 0 0 10px 10px;
  }
}

@media screen and (min-width: 1600px) {
  .nav {
    padding: 0.625vw 1vw;
  }
}
/*#endregion HEADER */

/*#region LINK */
.link {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  font-weight: 700;
  font-size: 5vw;
  color: var(--secondary-color);
  text-shadow: 2px 2px 4px #000000;
  margin: 0 2vw 0 0;
}

@media screen and (min-width: 320px) {
  .link {
    font-size: 3.6vw;
  }
}

@media screen and (min-width: 420px) {
  .link {
    font-size: 2.3vw;
  }
}

@media screen and (min-width: 800px) {
  .link {
    font-size: 2vw;
  }
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 1.8vw;
  }
}

.inactiveLink {
  composes: link;
  transition: transform var(--time-action) var(--time-distribution-function);
}

.inactiveLink:hover,
.inactiveLink:focus-visible {
  transform: scale(1.02, 1.1);
}

.activeLink {
  composes: link;
  pointer-events: none;
  color: var(--primery-background-color);
}
/*#endregion LINK */

/*#region LOGO_BRAND */
.logoBox {
  display: flex;
  align-items: center;
  background-color: var(--secondary-background-color);
  width: 20vw;
  padding: 0.5vw;
  border-radius: 0.5vw;
  margin: 0;
  box-shadow: var(--primery-box-shadow);
}

.logo {
  width: 6.5vw;
  height: 6.5vw;
  border-radius: 0.5vw;
  margin: 0;
}

.brand {
  font-weight: 700;
  font-size: 2.2vw;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color: var(--primery-background-color);
  margin: 0;
}

.infoBox {
  margin: 0;
}

.phoneBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brandInfo {
  font-weight: 500;
  color: #350000;
  margin: 0;
}
/*#endregion LOGO_BRAND */

.controlBox {
  display: flex;
  align-items: center;
}

/*#region USERBAR */
.userbar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0 1vw 0 1vw;
}

@media screen and (min-width: 320px) {
  .userbar {
    flex-direction: row;
  }
}

.lngBtn {
  font-size: 1.5vw;
}
/*#endregion USERBAR */

/*#region CART */
.cart {
  width: 8vw;
  height: 8vw;
  margin-right: 1.75vw;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .cart {
    width: 6vw;
    height: 6vw;
    margin-right: 1.5vw;
  }
}

@media screen and (min-width: 420px) {
  .cart {
    width: 4vw;
    height: 4vw;
    margin-right: 1.5vw;
  }
}

@media screen and (min-width: 800px) {
  .cart {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
  }
}

@media screen and (min-width: 1024px) {
  .cart {
    position: relative;
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 0.75vw;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.inactiveCart {
  composes: cart;
  background-image: url('assets/cart.svg');
  transition: transform var(--time-action) var(--time-distribution-function);
}

.inactiveCart:hover,
.inactiveCart:focus-visible {
  transform: scale(1.1);
}

.activeCart {
  composes: cart;
  pointer-events: none;
  background-image: url('assets/activeCart.svg');
}

.quantityInCart {
  position: absolute;
  top: -5px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  color: var(--primery-color);
  background-color: var(--primery-background-color);
  width: 60%;
  height: 60%;
  border-radius: 50%;
}
/*#endregion CART */

.btnLink {
  text-decoration: none;
  color: inherit;
}

/*#region AVATAR */
.avatar {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  margin-right: 2vw;
}

@media screen and (min-width: 320px) {
  .avatar {
    width: 6.5vw;
    height: 6.5vw;
    margin-right: 0;
    margin-left: 1.75vw;
  }
}

@media screen and (min-width: 420px) {
  .avatar {
    width: 6vw;
    height: 6vw;
    margin-left: 1.75vw;
  }
}

@media screen and (min-width: 800px) {
  .avatar {
    width: 3.5vw;
    height: 3.5vw;
    margin-left: 1.25vw;
  }
}

@media screen and (min-width: 1024px) {
  .avatar {
    width: 3vw;
    height: 3vw;
    margin-left: 1vw;
  }
}
/*#endregion AVATAR */

/*#region USER */
.user {
  font-weight: 600;
  font-size: 4.5vw;
  margin: 0 2vw 0 0;
}

@media screen and (min-width: 320px) {
  .user {
    font-size: 3.6vw;
    margin: 0 0 0 1.75vw;
  }
}

@media screen and (min-width: 420px) {
  .user {
    font-size: 2.8vw;
  }
}

@media screen and (min-width: 800px) {
  .user {
    font-size: 1.75vw;
    margin: 0 0 0 1.25vw;
  }
}

@media screen and (min-width: 1024px) {
  .user {
    font-size: 1.5vw;
    margin: 0 0 0 1vw;
  }
}
/*#endregion USER */
