.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 3vw;
  color: #350000;

  padding: 6.25vw;
  border-radius: 2.5vw;
  box-shadow: 0px 2px 5px rgba(68, 42, 42, 0.75),
    0px 1px 3px rgba(68, 38, 38, 0.14), 0px 1px 2px rgba(139, 77, 77, 0.12);
  background-color: var(--third-background-color);
}

@media screen and (min-width: 320px) {
  .page {
    padding: 20px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 800px) {
  .page {
    border-radius: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .page {
    padding: 1.25vw;
    border-radius: 0.625vw;
  }
}

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
  color: var(--secondary-background-color);
  text-shadow: 1px 1px 2px #000000;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}

.reflectionBox {
  composes: box;

  -webkit-box-reflect: below 0
    linear-gradient(transparent, rgba(255, 255, 255, 0.2));
}

.wave {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.wave3D {
  composes: wave;

  color: var(--secondary-color);
  text-shadow: var(--secondary-color) 0.006em 0.006em 0.007em,
    #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px,
    #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px,
    #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px,
    #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px,
    rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.4) 1px 22px 10px,
    rgba(16, 16, 16, 0.4) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px,
    var(--secondary-color) -0.5em -0.1em 100px;

  animation: wave3D 1s infinite ease-in-out;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wave3D {
  0%,
  100% {
    transform: translateY(0);
    text-shadow: var(--secondary-color) 0.006em 0.006em 0.007em,
      #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px,
      #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px,
      #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px,
      #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px,
      rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.4) 1px 22px 10px,
      rgba(16, 16, 16, 0.4) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px,
      var(--secondary-color) -0.5em -0.1em 100px;
  }

  50% {
    transform: translateY(-1vw);
    text-shadow: var(--secondary-color) 0.006em 0.006em 0.007em,
      #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px,
      #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px,
      #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px,
      #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px,
      rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.4) 1px 42px 30px,
      rgba(16, 16, 16, 0.4) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px,
      var(--secondary-color) -0.5em -0.1em 100px;
  }
}

.waveReflection {
  composes: wave;

  color: var(--primery-color);

  animation: waveReflection 2s infinite calc(0.1s * var(--i));
}

@keyframes waveReflection {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-1vw);
  }
}
