.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  min-width: 4.58vw;
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 1vw;

  background-color: var(--secondary-background-color);
  color: #ffffff;

  font-weight: 500;
  font-size: 4.8vw;
  line-height: 1.25;

  transition: background-color var(--time-action)
      var(--time-distribution-function),
    color var(--time-action) var(--time-distribution-function),
    box-shadow var(--time-action) var(--time-distribution-function),
    transform var(--time-action) var(--time-distribution-function);
}

@media screen and (min-width: 320px) {
  .btn {
    font-size: 14px;
  }
}

@media screen and (min-width: 420px) {
  .btn {
    font-size: 16px;
  }
}

@media screen and (min-width: 800px) {
  .btn {
    border-radius: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    border-radius: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .btn {
    border-radius: 0.625vw;
    font-size: 1vw;
  }
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--primery-background-color);
  color: var(--primery-color);
  box-shadow: 0 0.3vw 0.3vw #56ca21;
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

.btn:disabled {
  background-color: #cea563bb;
  color: var(--primery-color);
  box-shadow: none;
  cursor: not-allowed;
  transform: scale(1);
}

.btn.is-hidden {
  display: none;
}
