.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  width: 100%;
  height: 10vw;
  border: none;
  border-radius: 2.5vw;

  background-color: var(--primery-background-color);
  color: var(--primery-color);
  box-shadow: var(--primery-box-shadow);

  font-weight: 500;
  font-size: 5vw;
  line-height: 1.25;

  transition: background-color var(--time-action)
      var(--time-distribution-function),
    color var(--time-action) var(--time-distribution-function),
    box-shadow var(--time-action) var(--time-distribution-function),
    transform var(--time-action) var(--time-distribution-function);
}

@media screen and (min-width: 320px) {
  .btn {
    width: 200px;
    height: 32px;
    border-radius: 8px;
    font-size: 16px;
  }
}

@media screen and (min-width: 800px) {
  .btn {
    border-radius: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .btn {
    width: 12.5vw;
    height: 2vw;
    border-radius: 0.625vw;
    font-size: 1vw;
  }
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
  box-shadow: var(--secondary-box-shadow);
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

.btn:disabled {
  background-color: var(--inactive-primery-background-color);
  color: var(--primery-color);
  box-shadow: none;
  cursor: not-allowed;
  transform: scale(1);
}

.btn.is-hidden {
  display: none;
}
