.container {
  position: relative;

  overflow: hidden;
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.trail {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #3498db;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.6);
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
