/*#region BACKDROP */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdropEmergence {
  composes: backdrop;
  animation: backdropEmergence var(--modal-action)
    var(--time-distribution-function);
}

.backdropFading {
  composes: backdrop;
  animation: backdropFading var(--modal-action)
    var(--time-distribution-function);
}

@keyframes backdropEmergence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backdropFading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*#endregion BACKDROP */

/*#region CONTENT */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 90vh;
  padding: 12px;
  background-color: #f5eeee;
  border-radius: 2.5vw;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 320px) {
  .content {
    border-radius: 8px;
  }
}

@media screen and (min-width: 800px) {
  .content {
    border-radius: 8px;
  }
}

.contentEmergence {
  composes: content;
  animation: contentEmergence var(--modal-action)
    var(--time-distribution-function);
}

.contentFading {
  composes: content;
  animation: contentFading var(--modal-action) var(--time-distribution-function);
}

@keyframes contentEmergence {
  0% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes contentFading {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
/*#endregion CONTENT */

/*#region IMAGES */
.modalImage {
  min-width: 30vw;
  max-height: 85vh;
  border-radius: 2.5vw;
  background-color: #e9e9ff;
  box-shadow: 0px 2px 4px 2px rgba(66, 38, 38, 0.25),
    2px 1px 1px rgba(71, 29, 29, 0.3), -2px 1px 3px rgba(77, 25, 25, 0.15);
}

@media screen and (min-width: 320px) {
  .modalImage {
    border-radius: 8px;
  }
}

@media screen and (min-width: 800px) {
  .modalImage {
    border-radius: 8px;
  }
}

.iconBtn {
  position: absolute;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: rotateZ(0);
  transform-origin: center center;

  transition: transform var(--modal-action) var(--time-distribution-function),
    fill var(--modal-plus-action) var(--time-distribution-function);
  animation: rotateX 1500ms var(--time-distribution-function);
}

.iconBtn:hover,
.iconBtn:focus-visible {
  fill: var(--secondary-background-color);
}

.iconCloseBtn {
  composes: iconBtn;
  top: 0;
  right: -5vw;
}

.iconCloseBtn:hover,
.iconCloseBtn:focus-visible {
  transform: rotateZ(1turn);
}

.iconRightBtn {
  composes: iconBtn;
  top: 50%;
  right: -5vw;
}

.iconRightBtn:hover,
.iconRightBtn:focus-visible {
  transform: rotateZ(1turn);
}

.iconLeftBtn {
  composes: iconBtn;
  top: 50%;
  left: -5vw;
}

.iconLeftBtn:hover,
.iconLeftBtn:focus-visible {
  transform: rotateZ(-1turn);
}

.icon {
  width: 20px;
  height: 20px;
}

.arrow {
  composes: icon;
}

@keyframes rotateX {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(2turn);
  }
}
/*#endregion IMAGES */

/*#region ANIMATION */
.onStartLeftTranslateAnimationX {
  composes: modalImage;
  animation-name: onStartLeftTranslateAnimateX;
  animation-duration: var(--modal-plus-action);
}

@keyframes onStartLeftTranslateAnimateX {
  0% {
    transform: translateX(-80vw);
  }

  100% {
    transform: translateX(0px);
  }
}

.onStartRightTranslateAnimationX {
  composes: modalImage;
  animation-name: onStartRightTranslateAnimateX;
  animation-duration: var(--modal-plus-action);
}

@keyframes onStartRightTranslateAnimateX {
  0% {
    transform: translateX(80vw);
  }

  100% {
    transform: translateX(0px);
  }
}

.onFinishLeftTranslateAnimationX {
  composes: modalImage;
  animation-name: onFinishLeftTranslateAnimateX;
  animation-duration: var(--modal-plus-action);
}

@keyframes onFinishLeftTranslateAnimateX {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(80vw);
  }
}

.onFinishRightTranslateAnimationX {
  composes: modalImage;
  animation-name: onFinishRightTranslateAnimateX;
  animation-duration: var(--modal-plus-action);
}

@keyframes onFinishRightTranslateAnimateX {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80vw);
  }
}
/*#endregion ANIMATION */
