.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 6.25vw;
  border-radius: 2.5vw;
  box-shadow: var(--secondary-box-shadow);
  background-color: var(--third-background-color);
}

@media screen and (min-width: 320px) {
  .page {
    padding: 20px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 800px) {
  .page {
    border-radius: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .page {
    padding: 1.25vw;
    border-radius: 0.625vw;
  }
}

.errorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;

  color: #ff0000;
  font-weight: 400;
  font-size: 2vw;
}

.errorText {
  padding: 0;
  margin: 0;
}

.errorLabel {
  composes: errorText;
  font-weight: 500;
}

.categoriesList {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .categoriesList {
    margin: -20px -20px 0 0;
  }
}

@media screen and (min-width: 1600px) {
  .categoriesList {
    margin: -1.25vw -1.25vw 0 0;
  }
}

.iconUpBtn {
  position: fixed;
  right: 3vw;
  bottom: 3vw;
  fill: var(--secondary-color);
  background-color: var(--secondary-background-color);
  border-radius: 50%;
  transform-origin: center center;
}

.iconUpBtn:hover,
.iconUpBtn:focus-visible {
  fill: var(--secondary-background-color);
  background-color: var(--primery-background-color);
}

.arrow {
  width: 20px;
  height: 20px;
}
