.page {
  position: relative;
}

.errorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;

  color: #ff0000;
  font-weight: 400;
  font-size: 2vw;
}

.errorText {
  padding: 0;
  margin: 0;
}

.errorLabel {
  composes: errorText;
  font-weight: 500;
}

.row {
  position: relative;
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    justify-content: space-between;
  }
}

/*#region IMAGES */
.imagesSection {
  width: 27.9%;
  height: 100%;
}

.image {
  border-radius: 2.5vw;
  background-color: #e9e9ff;
  box-shadow: 0px 2px 4px 2px rgba(66, 38, 38, 0.25),
    2px 1px 1px rgba(71, 29, 29, 0.3), -2px 1px 3px rgba(77, 25, 25, 0.15);
}

@media screen and (min-width: 320px) {
  .image {
    border-radius: 8px;
  }
}

@media screen and (min-width: 800px) {
  .image {
    border-radius: 8px;
  }
}

.mainImage {
  composes: image;
  width: 100%;
  cursor: zoom-in;
}

.mainImage:hover,
.mainImage:focus {
  box-shadow: 1px 4px 8px 4px rgba(165, 86, 49, 0.25),
    4px 2px 2px rgba(105, 63, 34, 0.3), -4px 2px 6px rgba(77, 37, 25, 0.15);
}

.additionalImagesBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 0.5vw;
  margin-top: 0.375px;
}

@media screen and (min-width: 320px) {
  .additionalImagesBox {
    border-radius: 8px;
    margin-top: 6px;
  }
}

@media screen and (min-width: 420px) {
  .additionalImagesBox {
    margin-top: 7px;
  }
}

@media screen and (min-width: 800px) {
  .additionalImagesBox {
    border-radius: 10px;
    margin-top: 8px;
  }
}

.additionalImage {
  width: 30%;
  height: 30%;
  border-radius: 2.5vw;
  background-color: #e9e9ff;
  box-shadow: 0px 2px 4px 2px rgba(66, 38, 38, 0.25),
    2px 1px 1px rgba(71, 29, 29, 0.3), -2px 1px 3px rgba(77, 25, 25, 0.15);
  margin: 0.4vw;
}

.additionalImage:hover,
.additionalImage:focus {
  box-shadow: 0.2vw 0.3vw 0.3vw #ca7b21;
  transform: scale(1.05);
}

@media screen and (min-width: 320px) {
  .additionalImage {
    border-radius: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .additionalImage {
    border-radius: 0.5vw;
  }
}
/*#endregion IMAGES */

@media screen and (min-width: 800px) {
  .thumb {
    width: 70%;
  }

  .monitor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/*#region STATS */
.statsSection {
  padding: 5px 3.4vw;
  border-radius: 2.5vw;
  background-color: #e9e9ff;
  box-shadow: 0px 2px 4px 2px rgba(66, 38, 38, 0.25),
    2px 1px 1px rgba(71, 29, 29, 0.3), -2px 1px 3px rgba(77, 25, 25, 0.15);
  margin: 1.875vw 0;
  font-weight: 400;
}

@media screen and (min-width: 320px) {
  .statsSection {
    padding: 6px 2vw;
    border-radius: 8px;
    margin: 6px 0;
  }
}

@media screen and (min-width: 420px) {
  .statsSection {
    padding: 7px 2.5vw;
    margin: 7px 0;
  }
}

@media screen and (min-width: 800px) {
  .statsSection {
    width: 57%;
    margin: 0;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1324px) {
  .statsSection {
    width: 67%;
  }
}

.title {
  position: absolute;
  top: 0;
  left: 30%;

  margin: 1.25vw 0 0 0;
  font-size: 5.625vw;
  font-weight: 700;
}

@media screen and (min-width: 320px) {
  .title {
    margin: 4px 0 0 0;
    font-size: 18px;
  }
}

@media screen and (min-width: 420px) {
  .title {
    margin: 8px 0 0 0;
    font-size: 22px;
  }
}

@media screen and (min-width: 800px) {
  .title {
    position: static;

    margin: 10px 0 20px 0;
    font-size: 26px;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    margin: 25px 0;
    font-size: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .title {
    margin: 1.5625vw 0;
    font-size: 1.875vw;
  }
}

.stat {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 5px 0;
  margin: 0;
  font-size: 4.7vw;
}

@media screen and (min-width: 320px) {
  .stat {
    padding: 6px 0;
    font-size: 15px;
  }
}

@media screen and (min-width: 420px) {
  .stat {
    display: block;

    padding: 7px 0;
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) {
  .stat {
    padding: 8px 0;
    font-size: 17px;
  }
}

@media screen and (min-width: 1024px) {
  .stat {
    font-size: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .stat {
    font-size: 1.375vw;
  }
}

.semiboldfont {
  font-weight: 600;
}

.boldfont {
  font-weight: 700;
}

.statName {
  composes: semiboldfont;
  margin-right: 10px;
}

.tagBox {
  margin: 2px;
}

@media screen and (min-width: 1600px) {
  .tagBox {
    margin: 0.2vw;
  }
}

.tag {
  display: block;
  text-indent: 0;
  font-weight: 400;
  padding: 2px 10px;
  border-radius: 2vw;
  color: #70304f;
  background-color: #ffc1c1;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) {
  .tag {
    border-radius: 6px;
  }
}

@media screen and (min-width: 800px) {
  .tag {
    border-radius: 8px;
  }
}

@media screen and (min-width: 1600px) {
  .tag {
    padding: 0.125vw 0.625vw;
    border-radius: 0.625vw;
  }
}

.tag:hover,
.tag:focus {
  color: #fc029c;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25), 2px 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 3px rgba(0, 0, 0, 0.15);
}

.linkBox {
  composes: tagBox;
}

.link {
  composes: tag;
}

.googleLink {
  width: 9%;
}
/*#endregion STATS */

/*#region CONTROLS */
.controlsSection {
  padding: 2vw 2vw 4vw 2vw;
  font-size: 15px;
  text-align: end;
  background-color: #fff1f1;
  border-radius: 2.5vw;
  box-shadow: 0px 2px 4px 2px rgba(66, 38, 38, 0.25),
    2px 1px 1px rgba(71, 29, 29, 0.3), -2px 1px 3px rgba(77, 25, 25, 0.15);
}

@media screen and (min-width: 320px) {
  .controlsSection {
    font-size: 16px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 420px) {
  .controlsSection {
    padding: 2.5vw;
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) {
  .controlsSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 40%;
    padding: 1vw;
    font-size: 16px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .controlsSection {
    font-size: 18px;
  }
}

@media screen and (min-width: 1324px) {
  .controlsSection {
    width: 30%;
  }
}

@media screen and (min-width: 1600px) {
  .controlsSection {
    font-size: 1.125vw;
  }
}

.count {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
}

.input {
  width: 28vw;
  height: 8.75vw;
  border: 1px solid #bfca21;
  border-radius: 1vw;
  padding-left: 10px;
  padding-right: 5px;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  color: #705050;
}

@media screen and (min-width: 320px) {
  .input {
    width: 85px;
    height: 28px;
  }
}

@media screen and (min-width: 420px) {
  .input {
    width: 104px;
    height: 30px;
  }
}

@media screen and (min-width: 800px) {
  .input {
    width: 12.5vw;
    height: 30px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .input {
    width: 10.2vw;
    height: 2.7vw;
  }
}

@media screen and (min-width: 1200px) {
  .input {
    width: 9vw;
    height: 2.5vw;
  }
}

@media screen and (min-width: 1324px) {
  .input {
    width: 8.2vw;
    height: 2.25vw;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .input {
    width: 7.2vw;
    border-radius: 0.625vw;
  }
}

.btn {
  width: 28vw;
  height: 8.75vw;
}

@media screen and (min-width: 320px) {
  .btn {
    width: 85px;
    height: 28px;
  }
}

@media screen and (min-width: 420px) {
  .btn {
    width: 104px;
    height: 30px;
  }
}

@media screen and (min-width: 800px) {
  .btn {
    width: 12.5vw;
    height: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    width: 10.2vw;
    height: 2.7vw;
  }
}

@media screen and (min-width: 1200px) {
  .btn {
    width: 9vw;
    height: 2.5vw;
  }
}

@media screen and (min-width: 1324px) {
  .btn {
    width: 8.2vw;
    height: 2.25vw;
  }
}

@media screen and (min-width: 1600px) {
  .btn {
    width: 7.2vw;
  }
}
/*#endregion CONTROLS */

/*#region PARAGRAPH */
.paragraph {
  padding: 3vw 2vw;
  border-radius: 2.5vw;
  background-color: #e9ffe9;
  box-shadow: 0px 2px 4px 2px rgba(66, 38, 38, 0.25),
    2px 1px 1px rgba(71, 29, 29, 0.3), -2px 1px 3px rgba(77, 25, 25, 0.15);
  margin: 5px 0 0 0;
  font-weight: 500;
  font-size: 4.375vw;
  text-align: justify;
  text-indent: 5%;
}

@media screen and (min-width: 320px) {
  .paragraph {
    border-radius: 8px;
    margin-top: 6px;
    font-size: 14px;
  }
}

@media screen and (min-width: 420px) {
  .paragraph {
    padding: 3vw 2.5vw;
    margin-top: 7px;
    font-size: 15px;
  }
}

@media screen and (min-width: 800px) {
  .paragraph {
    padding: 1.5vw 1vw;
    border-radius: 10px;
    margin-top: 8px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .paragraph {
    padding: 1.5vw 1vw;
    margin-top: 10px;
    font-size: 17px;
    text-indent: 8%;
  }
}

@media screen and (min-width: 1200px) {
  .paragraph {
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  .paragraph {
    font-size: 1.25vw;
    margin-top: 0.625vw;
    border-radius: 0.625vw;
  }
}

.linksSection {
  composes: paragraph;
  background-color: #ffffc9;
}

.linksBox {
  composes: stat;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .startDescriptionSection {
    composes: paragraph;
    display: none;
  }
}

.finishDescriptionSection {
  composes: paragraph;
  display: none;
}

@media screen and (min-width: 1024px) {
  .finishDescriptionSection {
    display: block;
  }
}
/*#endregion PARAGRAPH */
