@import 'modern-normalize/modern-normalize.css';

:root {
  --primery-background-color: #fbe118;
  --inactive-primery-background-color: #fbe11850;
  --secondary-background-color: #e10685;
  --inactive-secondary-background-color: #e1068550;
  --third-background-color: #fcf9f0;
  --error-screen: #0000ff;

  --primery-color: #270000;
  --secondary-color: #ffffff;
  --input-border-color: #bfca21;
  --outline-color: #c2ffae;
  --error-color: #ff0000;

  --primery-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25),
    2px 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 3px rgba(0, 0, 0, 0.15);
  --secondary-box-shadow: 0 0.3vw 0.3vw #56ca21;

  /* FIXME */
  /* --main-font: 'Roboto', sans-serif; */
  /* --title-font: 'Raleway', sans-serif; */
  /* --header-height: 80px; */
  /* --gallery-gap: 30px; */

  --time-action: 250ms;
  --modal-action: 500ms;
  --modal-plus-action: 550ms;
  --time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  background-color: var(--secondary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-size: 1.2vw;
  line-height: 1.5;
  color: var(--primery-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.error-boundary {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--error-screen);
  color: var(--primery-color);
  font-size: 2.5vw;
  font-weight: 400;
}
